
{{template "header" .}}
<div class="py-12 flex justify-center">
  <div class="p-8 bg-white rounded shadow">
    <h1 class="pt-4 pb-8 text-center text-3xl font-bold text-gray-900">
      Reset your password
    </h1>
    <form action="/reset-pw" method="post" class="grid grid-col-1 gap-4">
      <div class="py-2">
        <label for="password" class="text-sm font-semibold text-gray-800"
          >Password</label
        >
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Password"
          required
          autofocus
          class="w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-800 rounded"
        />
      </div>
      {{if .Token}}
      <div class="hideen">
        <input type="hidden" id="token" name="token" value="{{.Token}}"></input>
      </div>
      {{else}}
      <div class="py-2">
        <label for="token" class="text-sm font-semibold text-gray-800">Password Reset Token</label>
        <input type="text" id="token" name="token" placeholder="Check your email" required
        class="w-full px-3 py-2 boder border border-gray-300 placeholder-gray-500 text-gray-800 rounded"></input>
      </div>

      {{end}}
      <div class="py-4">
        <button
          type="submit"
          class="w-full py-4 px-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded font-bold text-lg"
        >
          Update password
        </button>
      </div>
      <div class="py-2 w-full flex justify-between">
        <p class="text-xs text-gray-500">
          <a href="/signup" class="underline text-sm">Sign up</a>
        </p>
        <p class="text-sm text-gray-500">
          <a href="/signin" class="underline">Sign in </a>
        </p>
      </div>
    </form>
  </div>
</div>
{{template "footer" .}}
